[Unit]
Description=Telegram Baholash Bot
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/telegramyordamchi
EnvironmentFile=/home/telegramyordamchi/.env
ExecStart=/home/telegramyordamchi/venv/bin/python -m app.bot
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
